@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #f3f3f3;
	font-family: 'Bree Serif', serif;
}
table, th, td {
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
	font-family: 'Bree Serif', serif;
}
#table_stat {
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	color: #808080;
	border: 1px solid #E0E0E0;
}
.td_stat {
	background: #E0E0E0;
}
label{
	padding: 5px 10px;
	width: 115px;
	float: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	text-align: center;
}
.input_stat {
	color: #404040;
	height: 25px;
    width: 300px;
    text-align: center;
}
.th {
	font-family: 'Bree Serif', serif;
	font-size: 10px;
	background: #E0E0E0;
	color: #404040;
}
.tr {
	font-family: 'Bree Serif', serif;
	font-size: 10px;
	border: 1px solid #E0E0E0;
    height: 30px;
}
#td_btn {
    width: 150px;
	text-align: left;
}
.GameHistoryTR {
	font-family: 'Bree Serif', serif;
	font-size: 10px;
    height: 20px;
	border: 1px solid #E0E0E0;
	background: white;
}
input {
    height: 25px;
    width: 150px;
    text-align: center;
}
.input_search {
	height: 25px;
    width: 300px;
    text-align: center;
}
.input_quiz {
    height: 25px;
    width: 150px;
    text-align: center;
}
input[type=text]:focus {
    border: 2px solid #555;
}
caption {
	font-family: 'Bree Serif', serif;
	font-weight:300;
	color: #808080;
	font-size:20px;
}

/* Search button */
#btn_search {
	float: center;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    height: 50px;
    width: 170px;
}

#btn_search:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
#btn_search:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Add Words button */
#btn_add_words {
	float:center;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    
    height: 13px;
    width: 120px;
}

#btn_add_words:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
#btn_add_words:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Modify Words button */
#btn_modify_words {
	float:center;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

#btn_modify_words:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
#btn_modify_words:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* Remove Words button */
#btn_remove_words {
	float:center;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #EE5858;
	border: 1px solid #DA3C3C;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

#btn_remove_words:hover {
	background: #B93F3F;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
#btn_remove_words:focus {
	position: relative;
	bottom: -1px;
	
	background: #E15555;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

/* select */
#select_search_option {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 1px;
    overflow: hidden;
    padding: 1px 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
    height: 35px;
}
.result_msg {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #EF3A3A;
	font-size: 17px;
}
#tabs {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 13px;
	background: #f3f3f3;
}
#tabs .ui-state-active {
    background: #46b3d3 !important;
    border: #3f9db8;
}